@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Pro:wght@200&family=Roboto+Mono:wght@100&family=Vina+Sans&display=swap');

.header {
    height:40px;
    width:145%;
    margin-right:28px;
    display: flex;
    align-items: center;
    color: #FFF;
    background-color: #000000a5;
    position:fixed;
    z-index:2000;
    top: 0;
    margin-top:-4px;
    overflow-x: hidden;
    overflow: hidden;
 
}
.header_left{
    /* flex: 0.1;    */
    padding-left:50px;
}  
.header_left  h1
{

    font-size:25px;
    font-family: 'Alata', sans-serif;
    letter-spacing:1px;
}
.header_left  h1 span
{
    color:#c46210;
}
.header_left  h1 span1{
    color: #fff;
}
.header_right
{

    flex: 0.4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left:50%;

}
.header_right > a > h4{
    font-size:15px;
    /* font-family: 'Lato', sans-serif; */
    cursor: pointer;
    transition:transform 100ms ease-in-out;
   
}
.header_right > a > h4:hover {
    transform: scale(1.05);
    letter-spacing:1px;
    padding: 5px 15px;
    color: #c46210;
}
h4{
    color: #FFF;
    text-decoration:none;
}
/* Header.css */

.no-decoration {
    text-decoration: none;
  }
  